<h1><%=  @sub.title%></h1>
<h3><%=  @sub.description%></h3>
<br>
<%= link_to "Edit Sub", edit_sub_url(@sub) %>
<br>
<%= link_to "Subs Index", subs_url%>
<br>
<%= link_to "Create Post", new_post_url %>
